<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdadgz.dhc_springboot.mapper.ImgMapper">

    <select id="getPage" resultType="img">
        select *
        from img i
        <where>
            <if test="essayId != null">
                essay_id = #{essayId}
            </if>
            <if test="title != null">
                and i.title like CONCAT('%', #{title}, '%')
            </if>
        </where>
        order by i.create_time desc, i.id desc
        limit #{startPage}, #{pageSize}
    </select>

    <select id="getDeleteImgs" resultType="img">
        select i.md5, min(i.is_delete) iis_delete, max(i.url) as url, max(i.reduce_url) as reduce_url
        from img i
        group by i.md5
        having iis_delete = 1
    </select>

</mapper>
