<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdadgz.dhc_springboot.mapper.SecondTitleMapper">

    <select id="getPage" resultMap="Map">
        select *,ft.title ftt,ft.`order` fto,ft.id fti
        from second_title st
        inner join first_title ft on st.first_title_id = ft.id
        <where>
            <if test="title != null">
                ft.title like CONCAT('%',#{title},'%')
                or st.title like CONCAT('%',#{title},'%')
            </if>
        </where>
        order by st.`order`, st.id
        limit #{startPPage}, #{pageSize}
    </select>

    <select id="getAll" resultMap="HeadItemMap">
        select ft.title label, st.title cl, ft.id, st.id ci
        from first_title ft
                 left join second_title st on ft.id = st.first_title_id
        order by ft.`order`, ft.id, st.`order`, st.id
    </select>

    <resultMap id="Map" type="secondTitle">
        <association property="firstTitle" javaType="firstTitle">
            <id property="id" column="fti"/>
            <result property="title" column="ftt"/>
            <result property="order" column="fto"/>
        </association>
    </resultMap>

    <resultMap id="HeadItemMap" type="headItem">
        <id property="id" column="id"/>
        <collection property="children" ofType="headItem">
            <id property="id" column="ci"/>
            <result property="label" column="cl"/>
        </collection>
    </resultMap>
</mapper>
